/*tag part*/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: dotted;
  border-top-width: 5px;/*control the border size*/
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 5%;
  color: #CAB8FF;
  margin: 100px auto;
}
p{
  display: inline-block;
  margin-right: 7px;
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
/*class part*/
.mountain{
  margin-bottom: 60px;
}
.top-container{
  background-color: #B5DEFF;
  position: relative;
  padding-top: 120px;
  line-height: 2;
}
.middle-container{
  margin: 100px 0;
  background-color: white;
}
.skills{
  background-color: white;
}

.combine{
  margin-right: 10px;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: normal;
}
.underline{
  margin-right: 10px;
  text-decoration: underline;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: normal;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  bottom:300px;
  left: 300px;
}
.myself{
  border-radius: 50%
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;/*可以把上下左右都變成置中*/
  text-align: left;
  line-height: 2;
}
.giphy-embed{
  float: left;
  margin-right: 30px;
}
.giphy-embed-ex{
  float: right;
  margin-left: 30px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
  position: relative;
}
.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.BUTTON_AZJ {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100;
   padding: 21px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 100px 100px 100px 100px;
}

.BUTTON_AZJ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.intro{
  width: 40%;
}
/*ID part*/
